In [10]:
# Reload all modules (except those excluded by %aimport) every time code is run
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
import src.utils.paths
paths = src.utils.paths.paths_dictionary()
paths

# example call
# paths['data_raw']

{'data': '/code/data',
 'docs': '/code/docs',
 'models': '/code/models',
 'notebooks': '/code/notebooks',
 'references': '/code/references',
 'reports': '/code/reports',
 'src': '/code/src',
 'data_external': '/code/data/external',
 'data_interim': '/code/data/interim',
 'data_processed': '/code/data/processed',
 'data_raw': '/code/data/raw',
 'reports_figures': '/code/reports/figures',
 'src_data': '/code/src/data',
 'src_features': '/code/src/features',
 'src_models': '/code/src/models',
 'src_utils': '/code/src/utils',
 'src_visualization': '/code/src/visualization'}

In [17]:
from dotenv import load_dotenv
load_dotenv()  # take environment variables from .env.

True

In [38]:
import urllib.request
import datetime as dt
import pandas as pd

def stooqData(ticker: str):
    url = f"https://stooq.com/q/d/l/?s={ticker}&i=d"
    data = pd.read_csv(url)
    data.columns = [col.lower() for col in data.columns]
    data['date'] = pd.to_datetime(data['date'])
    return data

# if you're reading this carved out in stone in front of a cave, I am sorry. You have to be connected to the Internet to download data from the web.

In [39]:
aapl = stooqData('aapl.us')
aapl

           date        open        high         low       close        volume
0    1984-09-07    0.100763    0.101999    0.099546    0.100763  9.767604e+07
1    1984-09-10    0.100763    0.101071    0.098340    0.100165  7.581254e+07
2    1984-09-11    0.101071    0.103814    0.101071    0.101999  1.787705e+08
3    1984-09-12    0.101999    0.102597    0.098928    0.098928  1.561713e+08
4    1984-09-13    0.104432    0.104730    0.104432    0.104432  2.432310e+08
...         ...         ...         ...         ...         ...           ...
9936 2024-02-12  188.415000  188.670000  186.790000  187.150000  4.178193e+07
9937 2024-02-13  185.770000  186.210000  183.512800  185.040000  5.652953e+07
9938 2024-02-14  185.320000  185.530000  182.440000  184.150000  5.463052e+07
9939 2024-02-15  183.550000  184.490000  181.350000  183.860000  6.543450e+07
9940 2024-02-16  183.420000  184.850000  181.665000  182.310000  4.975246e+07

[9941 rows x 6 columns]

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [35]:
aapl[(aapl["Date"].dt.year == 2005) & (aapl["Date"].dt.month == 2)]

           Date     Open     High      Low    Close        Volume
5147 2005-02-01  1.17272  1.18379  1.16565  1.18040  7.963372e+08
5148 2005-02-02  1.18728  1.21619  1.18249  1.21190  1.201629e+09
5149 2005-02-03  1.20612  1.20931  1.17701  1.18458  8.594766e+08
5150 2005-02-04  1.18728  1.20154  1.18040  1.20004  6.611406e+08
5151 2005-02-07  1.20254  1.20772  1.17960  1.20154  6.159255e+08
5152 2005-02-08  1.20522  1.23873  1.19944  1.23135  1.044301e+09
5153 2005-02-09  1.23593  1.24799  1.18888  1.19844  1.400187e+09
5154 2005-02-10  1.19874  1.20672  1.16684  1.19276  1.282334e+09
5155 2005-02-11  1.21709  1.24451  1.20154  1.23593  1.409609e+09
5156 2005-02-14  1.25946  1.29086  1.24889  1.28817  1.492042e+09
5157 2005-02-15  1.32067  1.35606  1.30901  1.34580  2.724972e+09
5158 2005-02-16  1.34170  1.37281  1.32944  1.37171  1.922685e+09
5159 2005-02-17  1.37999  1.38329  1.33124  1.33672  1.781197e+09
5160 2005-02-18  1.33652  1.33742  1.31279  1.32157  1.364650e+09
5161 2005-02-22  1.31569  1.34420  1.29824  1.29824  1.430388e+09
5162 2005-02-23  1.32027  1.34660  1.30203  1.34320  1.577485e+09
5163 2005-02-24  1.34320  1.35955  1.33562  1.35397  1.789364e+09
5164 2005-02-25  1.36484  1.36843  1.34220  1.35457  1.074120e+09
5165 2005-02-28  1.35955  1.37411  1.33832  1.36573  7.658622e+08